<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    failOnRisky="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="ArtLounge Bento Unit Tests">
            <directory>src/BentoCore/Test/Unit</directory>
            <directory>src/BentoEvents/Test/Unit</directory>
            <directory>src/BentoTracking/Test/Unit</directory>
        </testsuite>
        <testsuite name="ArtLounge Bento Integration Tests">
            <directory>src/BentoCore/Test/Integration</directory>
            <directory>src/BentoEvents/Test/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/BentoCore</directory>
            <directory suffix=".php">src/BentoEvents</directory>
            <directory suffix=".php">src/BentoTracking</directory>
        </include>
        <exclude>
            <directory>src/BentoCore/Test</directory>
            <directory>src/BentoEvents/Test</directory>
            <directory>src/BentoTracking/Test</directory>
            <file>src/BentoCore/registration.php</file>
            <file>src/BentoEvents/registration.php</file>
            <file>src/BentoTracking/registration.php</file>
        </exclude>
        <report>
            <text outputFile="php://stdout" showOnlySummary="false"/>
            <html outputDirectory="build/coverage"/>
        </report>
    </coverage>

    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>
