<?xml version="1.0"?>
<!--
/**
 * Admin Routes Configuration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="artlounge_bento" frontName="artlounge_bento">
            <module name="ArtLounge_BentoCore" before="Magento_Backend"/>
        </route>
    </router>
</config>
