<?xml version="1.0"?>
<!--
/**
 * Frontend Routes Configuration
 *
 * Registers the cart recovery route.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="bento" frontName="bento">
            <module name="ArtLounge_BentoEvents"/>
        </route>
    </router>
</config>
